.limit {
  width: 1200px;
  margin: auto;
}

.main {
  background-color: #112D4E;
  padding: 10px 20px;
}

.bar {
  background-color: #3F72AF;
  padding: 10px 20px;
  color: #F9F7F7;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: #ffff;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.3px;
  border: 2px solid #ffff;
  padding: 1rem;
  border-radius: 10px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input {
  font-size: 16px;
  border-radius: 10px 0 0 10px;
  padding: 15px 15px;
  border: none;
  background-color: #F9F7F7;
  outline: none;
}

.form button {
  border-radius: 0 10px 10px 0;
  outline: none;
  border: 0;
  cursor: pointer;
  background-color: #DBE2EF;
  transition: all 0.3s;
}

.form button:hover {
  background-color: var(--secondary);
}

.form button:hover  svg{
  fill: var(--white);
}

.content {
  min-height: 100vh;
  background-color: #DBE2EF;
}

.gridForm {
  width: 393px;
  display: grid;
  grid-template-columns: 1fr 50px;
}

@media (max-width: 1200px) {
  .limit {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .grid {
    display: block;
  }

  .gridForm {
    grid-template-columns: 1fr 50px;
    width: 100%;
  }

  .form button {
    padding: 0;
  }
}
