.home {
  padding: 20px;
}

.card {
  background-color: #F9F7F7;
  padding: 20px;
  border-radius: 10px;
}

.today {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
}

.city {
  margin: 0;
}

.temperature {
  font-size: 90px;
  font-weight: bold;
  margin: 1rem 0;
  line-height: 90px;
}


.grid {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
}