.home {
  padding: 20px;
}

.card {
  background-color: #F9F7F7;
  padding: 20px;
  border-radius: 10px;
}

.today {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
}

.city {
  margin: 0;
}

.temperature {
  font-size: 90px;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0;
  line-height: 90px;
}


.grid {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
}

.description {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: bold;
  margin: 0;
}

.gridTemperature {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.gridIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.minMax {
  font-size: 25px;
  font-weight: bold;
}
